.RISE__HIDDEN
{
    DISPLAY:NONE !IMPORTANT;
}

.RISE__NO-ANIMATION
{
    TRANSITION:NONE !IMPORTANT;
}

.RISE__CONTAINER
{
    POSITION:RELATIVE;
    DISPLAY:FLEX;
    WIDTH:100%;
    HEIGHT:100%;
}

.RISE__CONTAINER--PORTRAIT
{
    FLEX-DIRECTION:ROW;
    TRANSITION-PROPERTY:LEFT;
}

.RISE__CONTAINER__TAB
{
    DISPLAY:FLEX;
    FLEX-DIRECTION:COLUMN;
    POSITION:RELATIVE;
    MIN-WIDTH:100%;
    HEIGHT:100%;
}
